*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0px;
    margin: 0px;
    padding: 0px;



}
.header{
    background-color: #313030;
}
.brandname{
    color:black;
    float: left;
    height: 5px;
    width: 5px;
}
ol {
    list-style: none;
}
ol li a{
    text-decoration: none;
    color:white;
    border: 0vh;
    margin: 0vh;
    padding: 0vh;
    display: inline block;
    float: right;
    border: 10px solid transparent;
    margin-top: 10px;
}
ol li a:hover{
    background-color:white;
    color: black;
    transition: 0.3s ease;
}
.content{
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}
.wp{
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.gs{
    background-image: url(1947484.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.button{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 20px;
}
.button:hover{
    background-color: #000000;
    color: #ffffff;
    transition: 0.3s ease;
}
.arrow{
    size: 10px;
}
footer{
    background-color: black;
    color: white;
}
.social{
    color: white;

}
.proud_to_be_indian{
color: red;
}
